html {
  scroll-behavior: smooth;
}

body {
  background-color: #e0d7d7;
}

.card {
  background-color: #e4fab0;
}

.card form {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.input-group input {
  padding: 1rem;
  font-size: 1.1rem;
}

.input-group-append button {
  font-size: 1.1rem;
}

.desktop {
  margin: 0;
}

@media only screen and (min-width : 768px) {
  .desktop {
    margin-bottom: 125px;
  }
}